@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "v-light";
    src: url("../lib/font/Vazir-Light-FD-WOL.ttf");
    font-weight: 300;
}
@font-face {
    font-family:"v-medium";
    src: url("../lib/font/Vazir-Medium-FD-WOL.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "v-bold";
    src: url("../lib/font/Vazir-Bold-FD-WOL.ttf");
    font-weight:900;
}